<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header id="heading">
      <h1>Todo List</h1>
    </header>

    <main>
      <div class="box">
        <div class="container">
          <form action="/" method="POST">
            <input
              type="text"
              name="ele1"
              placeholder="Enter task"
              class="task"
              autocomplete="off"
            />
            <select name="priority" class="drop-down">
              <option value="high">High</option>
              <option value="medium">Medium</option>
              <option value="low" selected>Low</option>
            </select>
            <button type="submit" class="add-task">+</button>
          </form>

          <p class="filter">Filter</p>
          <form action="/filter" method="GET" class="">
            <select
              name="priority"
              onchange="this.form.submit()"
              class="drop-down"
              id="filter-drop"
            >
              <option value="all">All</option>
              <option value="high">High</option>
              <option value="medium">Medium</option>
              <option value="low">Low</option>
            </select>
          </form>
        </div>
        <% if (todoItems.length === 0) { %>
        <div class="empty-message">
          <span>&#9432; </span> No tasks yet! Add your first task and boost your productivity !
        </div>
        <% } else { %>
        <ul class="task-list">
          <% todoItems.forEach(function(todo){ %>
          <li class="item">
            <input type="checkbox" />
            <p class="added-tasks"><%= todo.name%> - <%= todo.priority%></p>

            <form
              action="/edit/<%= todo.id %>"
              method="POST"
              style="display: inline"
            >
              <input
                type="text"
                class="edit-task"
                name="newText"
                placeholder="Edit task"
                autocomplete="off"
              />
              <button type="submit" class="edit">Edit</button>
            </form>

            <form
              action="/delete/<%= todo.id %>"
              method="POST"
              style="display: inline"
            >
              <button type="submit" class="remove">Remove</button>
            </form>
          </li>
          <% }); %>
        </ul>

        <% } %>
      </div>
    </main>

    <footer>
      <p>© 2025 My Todo App</p>
    </footer>
  </body>
</html>
