* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: Arial, sans-serif; 
}

body { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #e6e0e0;
}

header { 
  background: #3b82f6; 
  padding: 20px; 
  text-align: center; 
  color: #fff; 
}

main { 
  flex: 1; 
  width: 100%; 
  max-width: 600px; 
  margin: 20px auto; 
  padding: 0 10px; 
}
.container{
  display: flex;
  gap: 20px;
}

.task-form, .filter-form { 
  display: flex; 
  gap: 10px; 
  margin-bottom: 15px; 
}

.task-form input, .task-form select, .filter-form select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-form button {
  background: #3b82f6; color: #fff; border: none; padding: 8px 15px; cursor: pointer; border-radius: 5px;
}

.task-list { list-style: none; }

.task-list li {
  display: flex; align-items: center; justify-content: space-between;
  background: white; padding: 10px; margin-bottom: 8px;
  border-radius: 5px; flex-wrap: wrap;
}

.task-list li.done span { 
  text-decoration: line-through; 
  color: gray; 
}

.filter-form label{
  margin-top: 7px;
}

.edit-but{
  height: 20px;
}



.delete-btn { 
  background: none; 
  border: none; 
  color: red; 
  font-size: 16px; 
  cursor: pointer; 
}

footer { background: #eee; 
  text-align: center; 
  padding: 10px; 
  margin-top: auto; 
}

@media (max-width: 500px) {
  .task-form, .filter-form { flex-direction: column; }
}
